.container {
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 100%;
    width: fit-content;
    max-width: 1200px;
    position: absolute;
}

#titleText{
    order: 2;
}

#LogoL {
    order: 1;
    left: 36%;
}

#LogoR {
    order: 3;
    right: 36%;
}

.logo {
    display: block;
    margin-top: 50%;
    opacity: 0;
    width: 12vw;
    position: relative;
    max-width: 200px;
}

#soundLink{
    order: 1;
}

#interactiveLink{
    order: 2;
}

#educationLink{
    order:3;
}

.splashText {
    font-family: var(--font);
    width: 100%;
    color: var(--light);
    letter-spacing: 10px;
    text-align: center;
    will-change: width;
}

.link{
    margin: 0 4% 0;
    text-decoration: none;
}

#mainText {
    font-size: clamp(14px, 4vw, 70px);
    white-space: nowrap;
    font-weight: var(--heavy);
    line-height: .75em;
    opacity: 0;
}

#subText {
    font-size: clamp(12px, 2vw, 34px);
    font-weight: var(--book);
    white-space: nowrap;
    opacity: 0;
}

.buttonContainer {
    display: flex;
    margin-top: 7%;
    flex-direction: row;
    width: 100%;
    height: 20%;
    justify-content: center;
    opacity: 0;
}

.but{
    width: fit-content;
}

@media screen and (orientation: landscape){
}

@media (max-device-width: 500px) and (orientation:portrait){
    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #LogoR{
        order:2;
        right: 2%;
    }
    #LogoL{
        left: 2%;
    }
    #titleText{
        order:3;
    }
    .buttonContainer{
        flex-flow: column;
    }
    .but{
        top:50%;
        width: 40%;
        font-size: 2rem !important;
        margin: 1.5% 0 !important;
    }
    #mainText{
        font-size: 4rem;
        white-space: normal;
        line-height: normal;
    }

    #subText{
        margin-top: 5%;
        font-size: 3rem;
        white-space: normal;
    }
}
